<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <!--    
    ******** You MUST NOT commit this file if placed ApiKey and ApiSecret string below.  ********
  -->
  <TestRunParameters>
    <Parameter name="ProductCode" value="FXBTCJPY" />
    <Parameter name="ApiKey" value="Place key string here" />
    <Parameter name="ApiSecret" value="Place secret string here" />
  </TestRunParameters>
</RunSettings>
